In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame([{"Biology":90, "neuroscience":65},{"Biology" : 77, "neuroscience":89}])
df

   Biology  neuroscience
0       90            65
1       77            89

In [15]:
covid_data = pd.read_csv("countries-aggregated.csv")

In [12]:
covid_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [13]:
covid_data.info()  #check missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161568 entries, 0 to 161567
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       161568 non-null  object
 1   Country    161568 non-null  object
 2   Confirmed  161568 non-null  int64
 3   Recovered  161568 non-null  int64
 4   Deaths     161568 non-null  int64
dtypes: int64(3), object(2)
memory usage: 6.2+ MB

In [7]:
covid_idx_con = covid_data.set_index("Country")

In [15]:
covid_data["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
161563       Zimbabwe
161564       Zimbabwe
161565       Zimbabwe
161566       Zimbabwe
161567       Zimbabwe
Name: Country, Length: 161568, dtype: object

In [16]:
data = {
    "Name": ["Amit", "Riya", "Karan", "Neha"],
    "Age": [22, 25, 19, 28],
    "Score": [85, 67, 90, 76]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   Amit   22     85
1   Riya   25     67
2  Karan   19     90
3   Neha   28     76

In [4]:
world_covid_data = pd.read_csv("worldwide-aggregate.csv")

In [5]:
world_covid_data.head()

         Date  Confirmed  Recovered  Deaths  Increase rate
0  2020-01-22        557         30      17            NaN
1  2020-01-23        657         32      18      17.953321
2  2020-01-24        944         39      26      43.683409
3  2020-01-25       1437         42      42      52.224576
4  2020-01-26       2120         56      56      47.529576

In [22]:
result = pd.merge(covid_data, world_covid_data, on="Date", how ="inner")
result

,Date,Country,Confirmed_x,Recovered_x,Deaths_x,Confirmed_y,Recovered_y,Deaths_y,Increase rate
0,2020-01-22,Afghanistan,0,0,0,557,30,17,NaN
1,2020-01-23,Afghanistan,0,0,0,657,32,18,17.953321
2,2020-01-24,Afghanistan,0,0,0,944,39,26,43.683409
3,2020-01-25,Afghanistan,0,0,0,1437,42,42,52.224576
4,2020-01-26,Afghanistan,0,0,0,2120,56,56,47.529576
...,...,...,...,...,...,...,...,...,...
161563,2022-04-12,Zimbabwe,247094,0,5460,500880363,0,6185040,0.207437
161564,2022-04-13,Zimbabwe,247160,0,5460,501920234,0,6189593,0.207609
161565,2022-04-14,Zimbabwe,247208,0,5462,502892186,0,6193401,0.193647
161566,2022-04-15,Zimbabwe,247237,0,5462,503606396,0,6195647,0.142021
161567,2022-04-16,Zimbabwe,247237,0,5462,504155459,0,6197159,0.109026

In [20]:
result_cut = result.iloc[1:100,]
result_cut

,Date,Country,Confirmed_x,Recovered_x,Deaths_x,Confirmed_y,Recovered_y,Deaths_y,Increase rate
1,2020-01-23,Afghanistan,0,0,0,657,32,18,17.953321
2,2020-01-24,Afghanistan,0,0,0,944,39,26,43.683409
3,2020-01-25,Afghanistan,0,0,0,1437,42,42,52.224576
4,2020-01-26,Afghanistan,0,0,0,2120,56,56,47.529576
5,2020-01-27,Afghanistan,0,0,0,2929,65,82,38.160377
...,...,...,...,...,...,...,...,...,...
95,2020-04-26,Afghanistan,1463,207,49,2969606,845343,216860,2.444929
96,2020-04-27,Afghanistan,1531,220,50,3040528,873227,221730,2.388263
97,2020-04-28,Afghanistan,1703,228,60,3116384,906439,228524,2.494830
98,2020-04-29,Afghanistan,1827,252,60,3193728,948516,235484,2.481851
99,2020-04-30,Afghanistan,1827,260,60,3277569,1013632,241546,2.625177

In [1]:
import cv2

In [2]:
image = cv2.imread("image.jpg")

In [3]:
image.shape

(3244, 5760, 3)

In [4]:
img = cv2.imread("image.jpg")
cv2.imshow("My Image", img)

print("Press any key to close the window")
cv2.waitKey(0)  # Wait indefinitely
cv2.destroyAllWindows()

Press any key to close the window

In [5]:
# Resize image to fit screen (e.g., scale down by half)
scale_percent = 50  # percent of original size
width = int(img.shape[1] * scale_percent / 100)
height = int(img.shape[0] * scale_percent / 100)
dim = (width, height)

resized = cv2.resize(img, dim, interpolation=cv2.INTER_AREA)

cv2.imshow("My Image", resized)

print("Press any key to close the window")
cv2.waitKey(0)
cv2.destroyAllWindows()

Press any key to close the window

In [8]:
import pyautogui #using python auto gui
screen_width, screen_height = pyautogui.size()
height, width = img.shape[:2]

scale_width = screen_width / width
scale_height = screen_height / height
scale = min(scale_width, scale_height) * 0.9  # leave some padding

new_width = int(width * scale)
new_height = int(height * scale)

resized = cv2.resize(img, (new_width, new_height), interpolation=cv2.INTER_AREA)

cv2.imshow("My Image", resized)
cv2.waitKey(0)
cv2.destroyAllWindows()

ModuleNotFoundError: No module named 'pyautogui'