In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([{"Biology":90, "neuroscience":65},{"Biology" : 77, "neuroscience":89}])
df

   Biology  neuroscience
0       90            65
1       77            89

In [7]:
covid_data = pd.read_csv("countries-aggregated.csv")

In [9]:
covid_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [7]:
covid_idx_con = covid_data.set_index("Country")

In [15]:
covid_data["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
161563       Zimbabwe
161564       Zimbabwe
161565       Zimbabwe
161566       Zimbabwe
161567       Zimbabwe
Name: Country, Length: 161568, dtype: object

In [16]:
data = {
    "Name": ["Amit", "Riya", "Karan", "Neha"],
    "Age": [22, 25, 19, 28],
    "Score": [85, 67, 90, 76]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   Amit   22     85
1   Riya   25     67
2  Karan   19     90
3   Neha   28     76

In [4]:
world_covid_data = pd.read_csv("worldwide-aggregate.csv")

In [5]:
world_covid_data.head()

         Date  Confirmed  Recovered  Deaths  Increase rate
0  2020-01-22        557         30      17            NaN
1  2020-01-23        657         32      18      17.953321
2  2020-01-24        944         39      26      43.683409
3  2020-01-25       1437         42      42      52.224576
4  2020-01-26       2120         56      56      47.529576

In [10]:
result = pd.merge(covid_data, world_covid_data, on="Date", how ="inner")

In [11]:
result

,Date,Country,Confirmed_x,Recovered_x,Deaths_x,Confirmed_y,Recovered_y,Deaths_y,Increase rate
0,2020-01-22,Afghanistan,0,0,0,557,30,17,NaN
1,2020-01-23,Afghanistan,0,0,0,657,32,18,17.953321
2,2020-01-24,Afghanistan,0,0,0,944,39,26,43.683409
3,2020-01-25,Afghanistan,0,0,0,1437,42,42,52.224576
4,2020-01-26,Afghanistan,0,0,0,2120,56,56,47.529576
...,...,...,...,...,...,...,...,...,...
161563,2022-04-12,Zimbabwe,247094,0,5460,500880363,0,6185040,0.207437
161564,2022-04-13,Zimbabwe,247160,0,5460,501920234,0,6189593,0.207609
161565,2022-04-14,Zimbabwe,247208,0,5462,502892186,0,6193401,0.193647
161566,2022-04-15,Zimbabwe,247237,0,5462,503606396,0,6195647,0.142021
161567,2022-04-16,Zimbabwe,247237,0,5462,504155459,0,6197159,0.109026