In [1]:
import pandas as pd

In [3]:
covid_data = pd.read_csv("countries-aggregated.csv")

In [9]:
covid_data.head()

         Date      Country  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan          0          0       0
1  2020-01-23  Afghanistan          0          0       0
2  2020-01-24  Afghanistan          0          0       0
3  2020-01-25  Afghanistan          0          0       0
4  2020-01-26  Afghanistan          0          0       0

In [7]:
covid_idx_con = covid_data.set_index("Country")

In [15]:
covid_data["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
161563       Zimbabwe
161564       Zimbabwe
161565       Zimbabwe
161566       Zimbabwe
161567       Zimbabwe
Name: Country, Length: 161568, dtype: object

In [16]:
data = {
    "Name": ["Amit", "Riya", "Karan", "Neha"],
    "Age": [22, 25, 19, 28],
    "Score": [85, 67, 90, 76]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0   Amit   22     85
1   Riya   25     67
2  Karan   19     90
3   Neha   28     76